* {
  margin:0;
  padding: 0;
}

html  {
    background:url("Indian_Spices.jpg") no-repeat center center fixed;
}

body {

    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: orangered;
    /*background-color: #7FFFD4 ;*/
}

nav {
    background-color:  #BAF73C;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color:#1D0029 ;
    background-color: white;
}

a:hover {
    color:white;
}

/*h1 {*/
/*    position: relative;*/
/*    bottom: 1em;*/
/*}*/

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

/*.supercon {*/
/*    position: relative;*/
/*    top: 50%;*/
/*}*/


img {
    width: 300px;
    height: 300px;
    border: 2px solid black;
}

#directions {
    color: saddlebrown;
    background-color:  #98FB98;
    font-size: 15px;
    text-align: center;
}

figure {
    margin-top: 100px;
}

figcaption {
    background-color:  #C8F7C5;
    border: 2px solid black;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.flag {
    width: 20px;
    height: 20px;
    border: none;
}