<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
<style>
    body {
        background-image: none;
    }
    footer {
        position: relative;
        bottom: 0;
        left: 0;
    }
</style>
<nav>
    <a href="http://localhost:8080/">Home</a>
    <h1>My Recipe Book</h1>
    <a href="http://localhost:8080/food">Recipes</a>
</nav>

<!--
Recipe title
Country
Ingredients
Directions
Servings
-->
<h1>Ramja Chawal</h1>
<strong>India</strong>
<img src="india.png" alt="india">

<ul>
    <li>1 cup red kidney beans
    </li>
    <li>2 large onion
    </li>
    <li>1 teaspoon ginger
    </li>
    <li>1 tablespoon coriander powder
    </li>
    <li>1 tablespoon powdered black pepper
    </li>
    <li>1 cinnamon stick
    </li>
    <li>2 green cardamom clove
    </li>
    <li>3 tablespoon mustard oil
    </li>
    <li>2 large tomato
    </li>
    <li>1 cup rice
    </li>
    <li>1 tablespoon garlic
    </li>
    <li>2 chopped green chilli
    </li>
    <li>1 tablespoon cumin powder
    </li>
    <li>salt as required
    </li>
    <li>1 tablespoon garam masala powder
    </li>
    <li>1 black cardamom
    </li>
    <li>1 tablespoon black pepper
    </li>
    <li>1 tablespoon ghee
    </li>
</ul>
    <h2>Step 1</h2>
    <p>Wash the rajma and allow it to soak in water overnight. Wash it again and pressure cook with 2 cups of water, salt and turmeric. Once the rajma is soft and squishy remove it from fire and keep it aside.</p>

    <h2>Step 2</h2>
    <p>Finely chop onions and keep aside, grate the tomatoes and keep them aside. Make a paste of ginger,garlic and green chillies.</p>

    <h2>Step 3</h2>
    <p>In a deep bottomed pan, add oil, when it gets heated add green cardamom, black cardamom, cinnamon, clove, peppercorn. Once they become fragrant, add onions and cook till they are golden brown. Now add the tomatoes and cook on high for 4-5 minutes. Add ginger- garlic-chilli paste, cumin powder, coriander powder and black pepper powder. Cook till the spices become fragrant and oil starts leaving the sides of the pan. Now add the rajma and one cup of water. Mix well and cook covered for 10 minutes. Once done, add the ghee. You can garnish with coriander leaves. Your rajma is ready.</p>

    <h2>Step 4</h2>
    <p>To make a steamed rice, boil 1 cup rice with 5 cups of water. Once the rice is soft, strain and discard the water. Spread the rice on a plate and allow it to air for 2-3 minutes.</p>

   <strong>Serves 4</strong>

<footer>
    <a href="https://recipes.timesofindia.com/recipes/rajma-chawal/rs64186705.cms">Curry Recipe Origin</a>
</footer>

</body>
</html>