<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="http://localhost:8080/">Home</a>
    <h1>My Recipe Book</h1>
    <a href="http://localhost:8080/food">Recipes</a>
</nav>
<footer>
    <a href="http://colorsafe.co/">Color Palette</a>
</footer>
</body>
</html>

<!--

1. Navigation Bar: Use Flexbox:

I. "My Recipe Book," Google Fonts

II. List Recipes: take you to the photo gallery ???

i. 2 recipes per row
ii. each recipe with clickable image <a><img></a>
iii. each recipe should have a caption


III. Each recipe should have an <a href=""></a>

IV. Different recipes from everyone in the class on the site


2. Background Image

3. Large Text to introduce / Centered

4. Contrast font color with picture

-->