<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kebab</title>
</head>
<body>
<nav>
    <a href="http://localhost:8080/">Home</a>
    <h1>My Recipe Book</h1>
    <a href="http://localhost:8080/food">Recipes</a>
</nav>

<!--
Recipe title
Country
Ingredients
Directions
Servings
-->
<h1>Kebab</h1>
<strong>Egypt</strong>
<img src="egypt.png" alt="egypt">
<h2>Ingredients</h2>
<ul>
    <li>2 tablespoons/30 mL plain yogurt
    </li>
    <li>2 teaspoon/10 mL sea salt
    </li>
    <li>Dash black pepper
    </li>
    <li>1/2 teaspoon/2 1/2 mL turmeric
    </li>
    <li>1/2 teaspoon/2 1/2 mL dry mustard
    </li>
    <li>1 teaspoon/5 mL curry powder
    </li>
    <li>1/2 teaspoon/2 1/2 mL ground​cardamom
    </li>
    <li>2 teaspoons/10 mL lemon juice
    </li>
    <li>2 teaspoons/10 mL vinegar
    </li>
    <li>2 large skinless boneless chicken breasts (cut into 1-inch cubes)
    </li>
    <li>1 onion (cut into 8 thin slices)
    </li>
    <li>Garnish: tomato slices and green pepper rings
    </li>
    <li>4 mint leaves (thinly sliced), or a handful of chopped parsley
    </li>
</ul>
<h2>Step1</h2>
<p>Combine the yogurt, salt, black pepper, turmeric, mustard, curry powder, cardamom, lemon juice, and vinegar in a large glass or plastic bowl.</p>
<h2>Step2</h2>
<p>Add the cubed chicken into the bowl, toss to combine, cover with plastic wrap, and place in the refrigerator for 1 to 4 hours.</p>
<h2>Step3</h2>
<p>Preheat the grill to medium-high heat.</p>
<h2>Step4</h2>
<p>Remove the chicken pieces and thread onto skewers, alternating with the sliced onion, using about 5 pieces of chicken per skewer.</p>
<h2>Step5</h2>
<p>Place the kebabs on the grill and cook for 10 to 12 minutes, turning occasionally, until cooked through and the internal temperature reaches 165 F.
</p>
<h2>Step6</h2>
<p>Remove from the heat and garnish with tomato slices, green pepper rings, and fresh mint or parsley.</p>
<strong>Serves 4 to 5</strong>
<footer>
    <a href="https://www.thespruceeats.com/egyptian-style-chicken-kebabs-334237"></a>
</footer>

</body>
</html>
</body>
</html>