<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <a href="http://localhost:8080/">Home</a>
    <h1>My Recipe Book</h1>
    <a href="http://localhost:8080/food">Recipes</a>
</nav>
<h1 id="directions">Click on the images and be directed to a recipe page</h1>

<div class="container">
    <figure>
    <a href="http://localhost:8080/ramja"><img src="Barthateslisa_Ramja-chawal.jpg" alt="curry"></a>
    <figcaption>Ramja<img class="flag" src="india.png" alt="india">
    </figcaption>
    </figure>
<!--    <img src="india.svg" alt="india">-->
    <figure>
    <a href=""><img src="kebab_lesyaDolyk.jpg" alt="snack"></a>
    <figcaption>Kebab<img  class="flag" src="egypt.png" alt="egypt">
    </figcaption>
    </figure>
</div>
<footer>
    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>
</body>
</html>

<!--

Cards:

2
2
2

-->