<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<nav>
    <a href="http://localhost:8080/">Home</a>
    <h1>My Recipe Book</h1>
    <a href="http://localhost:8080/food">Recipes</a>
</nav>
<h1 id="">Click on the images and be directed to a recipe page:</h1>

<div class="container">
    <figure>
    <a href="https://recipes.timesofindia.com/recipes/rajma-chawal/rs64186705.cms"><img src="Barthateslisa_Ramja-chawal.jpg" alt="curry"></a>
    <figcaption>Ramja</figcaption>
    </figure>
    <figure>
    <a href="https://www.ruchiskitchen.com/instant-khaman-dhokla/"><img src="Khaman_sri.jpg" alt="snack"></a>
    <figcaption>Khaman</figcaption>
    </figure>
</div>
</body>
</html>

<!--

Cards:

2
2
2

-->